@* Define model *@
@model IEnumerable<StorniranRacun>

@* Define ViewData *@
@{
	ViewData["Title"] = "Lista Racuna";
}

@* Write Code *@
<div class="row">
	<div class="col-8 offset-md-2">

		<table class="table">
			<thead>
				<tr>
					<th>Racun ID</th>
					<th>Datum</th>
					<th>Radnik</th>
					<th>Cena</th>
					<th>PIB</th>
					<th>Menadzer User</th>
					<th>Datum Storniranja</th>

					
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td class="align-middle">
							@item.RacunId
						</td>
						<td class="align-middle">
							@item.Datum
						</td>
						<td class="align-middle">
							@item.Radnik.Ime  @item.Radnik.Prezime
						</td>
						<td class="align-middle">
							@item.Cena
						</td>
						<td class="align-middle">
							@item.Pib
						</td>
						<td class="align-middle">
							@item.MenadzerUser
						</td>
						<td class="align-middle">
							@item.DatumStorniranja
						</td>
					</tr>
				}

			</tbody>


		</table>


	</div>
</div>