@model ViewModelRacun

@{
	ViewData["Title"] = "Storniraj Racun";
}

<div class="row text">
	<div class="col-md-8 offset-2">
		<p>
			<h1>Storniraj Racun</h1>
		</p>
		<div class="row">
			<div class="col-md-8 offset-2">
				<form asp-action="Storno" method="post">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Racun ID</th>
                                <th>Datum</th>
                                <th>Radnik User</th>
                                <th>PIB</th>
                                <th>Ukupna Vrednost Racuna</th>
                            </tr>
                        </thead>


                        <tr>
                            <td>@Model.racun.RacunId</td>
                            <td>@Model.racun.Datum</td>
                            <td>@Model.racun.Radnik.Ime  @Model.racun.Radnik.Prezime</td>
                            @if (Model.racun.Pib == null)
                            {
                                <td>X</td>
                            }
                            else
                            {
                                <td>@Model.racun.Pib</td>
                            }

                            <td>@Model.racun.Cena</td>
                        </tr>

                    </table>

                    <table class="table">
                        <thead>
                            <tr>
                                <th>Br.</th>
                                <th>Artikal ID</th>
                                <th>Artikal Naziv</th>
                                <th>Kolicina</th>
                                <th>Cena</th>
                                <th>Ukupna Vrednost</th>
                            </tr>
                        </thead>
                        @foreach (StavkaRacuna s in Model.StavkeRacuna)
                        {
                            <tr>
                                <td>@s.RedinBroj</td>
                                <td>@s.ArtikalId</td>
                                <td>
                                    <a class="" asp-controller="Artikal" asp-action="Info" asp-route-id="@s.ArtikalId">
                                        @s.Artikal.NazivArtikla
                                    </a>
                                </td>
                                <td>@s.Kolicina</td>
                                <td>@s.JedCena</td>
                                <td>@s.UkupnaVred</td>
                            </tr>
                        }
                    </table>
					<div class="form-group pt-3">
						<a class=" btn btn-outline-secondary" asp-action="Index">Nazad</a>
						<input type="submit" value="Storniraj" class="btn btn-outline-danger float-end" />
					</div>
				</form>
			</div>

		</div>

	</div>
</div>